body {
  font-family: "Segoe UI", sans-serif;
  background-color: rgb(13, 15, 19);
  margin: 0;
}

h1{
  color: white;
  background-color: rgb(22, 23, 29);
  font-size: 48px;
  padding: 10px 0;
  margin: 0;
  text-align: center
}

h2{
  font-size: 15px;
  font-weight: bold;
}

.Container{
  display: flex;
  flex-wrap: flex;
  text-align: left;
  font-size: 15px;
  justify-content: center;
  gap: 28px;
  padding: 28px;
}

.locationName{
  color: rgb(150, 150, 150);
  font: italic;
}

.price{
  color: rgb(140, 140, 140);
}
